# I don't recommend running tests against anything other than the sandbox environment!
MANGOPAY_ENV=sandbox

# Set these values to your Mangopay client ID and client password (for the sandbox account)
MANGOPAY_KEY=123
MANGOPAY_SECRET=456
